{% extends "layout.html" %}
{%block body %}

<nav class="navbar navbar-inverse">
   <div class="container-fluid">
     <h4 class="container-fluid" style="text-align: center; color:lightyellow">
      Welcome to our Library Management System!
     </h4>
   </div>
 </nav>

<div style=" border-radius: 20px; background-color: lightyellow; margin: auto;
width: 20%; padding:10px 25px 25px 25px; text-align:center; border: 5px solid #FFFF00;" >   <h1> Sign Up </h1>
    <hr>
   <form action= "{{ url_for('app.signup') }}" method="post" id="fsignup">
        <label style="width:70px; text-align:left"></label>
        <input type="text" placeholder="Name" name="username">
        <br>
        <label style="width:70px; text-align:left"></label>
        <input type="text" placeholder="Email" name="email">
        <br>
       <label style="width:70px; text-align:left"></label>
        <input type="password" placeholder="Password" name="password">
        <br>
       <label style="width:70px; text-align:left"></label>
        <input type="password" placeholder="Confirm Password" name="confirmpassword">
        <br>
       <br>

    </form>
    <input type="submit" name="Sign Up" form="fsignup" value="Submit">
    <a href="{{ url_for('app.userpage') }}"><button>Cancel</button></a>
</div>
{% endblock %}